*.mp3
Decima\ settimana/
Dodicesima\ settimana/
Nona\ settimana/
Ottava\ settimana/
Quarta\ settimana/
Quinta\ settimana/
Seconda\ settimana/
Sesta\ settimana/
Settima\ settimana/
Terza\ settimana/
Undicesima\ settimana/
simulazione.zip
