div.jumbotron {
background-color: #ffe700;
}

div."navbar-inverse navbar-fixed-top"{
background-color: yellow
}


div.row{
/*border: 1px solid green;*/
}

.content {
  padding-top: 500px;
}

body {
/*background-color: #ffd366;*/
padding: 1em;
margin: 1em;
  padding-top: 50px;
}

#references {
    margin-top: 2em;
}

.faq { font-style: italic }


.navbar-inverse, .navbar-inverse .navbar-brand {
         background-color: #ffd366;
         color: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ff5b01;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover
{
         background-color: #ffa700;
         color: white;
}

.navbar-inverse .navbar-nav>a,
.navbar-inverse .navbar-nav>a:focus,
.navbar-inverse .navbar-nav>a:hover,
{
         background-color: blue;
         color: red;
}

a{
color: #ff5b01;
}


a:visited
{
color: #ce5200 /* #339966 #ce5200 */;
}

a:hover, a:active
{
background-color: #ffdb94 /* #a9d69b #ffdb94 #1ea0cf */;
color: #000;
}

.ie9 img[src*=".svg"] {
    width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   img[src*=".svg"] {
       width: 100%;https://bebras.it/comitato.html
     }
}


.classifica td, .classifica th {
	border: 1px solid black;
	padding: .3em;

}

.barfull {
    fill: #ffe700;
}

.barpart {
    fill: yellow;
}


@media print {
    body { font-size: 10pt; }
}



